<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkh.infrastructure.dao.SkuMapper">

    <resultMap id="BaseResultMap" type="com.lkh.infrastructure.dao.po.Sku">
            <id property="id" column="id" />
            <result property="goodsId" column="goods_id" />
            <result property="goodsName" column="goods_name" />
            <result property="originalPrice" column="original_price" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,goods_name,original_price,create_time,update_time
    </sql>
    <select id="querySkusByGoodsId" resultMap="BaseResultMap">
        select * from sku where goods_id = #{goods_id}
    </select>
</mapper>
